.header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.logout-link {
    margin-left: 10px;
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}
